/* html {
  background: url(media/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.container .attribution {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 12px;
  text-transform: uppercase;
  color: #a5a5a5;
  padding: 24px;
  background: black;
}

.container .attribution a {
  text-decoration: none;
  color: white;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-start;
}

.content div {
  padding: 0 24px;
}

label {
  text-transform: uppercase;
  font-weight: 100;
}

textarea {
  width: 100%;
  min-height: 80px;
  font-weight: 100;
}

input,
textarea {
  font-size: 16px;
  background: none;
  border: 0;
  border-bottom: 1px solid #a5a5a5;
  padding: 8px 4px;
  margin-right: 8px;
}

button {
  background: none;
  padding: 8px 12px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
}

button.green {
  background-color: #77b300;
  border: 1px solid #77b300;
}

button.transparent {
  background-color: none;
  border: none;
}

button.active {
  border: 0;
  background: rgba(0, 0, 0, 0.05);
}

button.small {
  padding: 10px 4px;
}

span.numeric-span {
  padding: 2px 4px;
  background-color: #ddd;
  font-family: "monospace";
}
