@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,700");

@import "styles/variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: 300;
  background: $grey-super-light;
}

body.noScroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
  font-weight: 300;
}

.container,
.content,
.attribution {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.attribution a {
  text-decoration: none;
  color: white;
}

.attribution {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 12px;
  text-transform: uppercase;
  color: $grey;
  padding: 24px;
  background: black;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-start;
  margin: 32px auto 64px auto;
}

.content div {
  padding: 0 24px;
}

label {
  text-transform: uppercase;
  font-weight: 100;
}

textarea {
  width: 100%;
  min-height: 80px;
  font-weight: 100;
}

input,
textarea {
  font-size: 16px;
  background: none;
  border: 0;
  border: 1px solid $grey-light;
  padding: 8px;
  margin-right: 8px;
}

button {
  background: none;
  padding: 8px 12px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
}

button.green {
  background-color: $go-green;
  border: 1px solid $go-green;
}

button.transparent {
  background-color: none;
  border: none;
}

button.active {
  border: 0;
  background: rgba(0, 0, 0, 0.05);
}

button.small {
  padding: 10px 4px;
}

.line-break {
  height: 2px;
  width: 100px;
  background: black;
}
