.header {
  height: 80px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.logo-container, .settings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  height: 64px;
  width: 64px;
  padding: 0 12px;
}

.icon.small {
  height: 32px;
  width: 32px;
  padding: 0 12px;
}

.header h1 {
  font-weight: 100;
  letter-spacing: 2px;
}

button.menu-item {
  border: 0;
  background: none;
  /*
  TODO:
  1) add nice click/hover effects
  */
}