@import "../../../styles/variables.scss";

.logs-container,
.logs-container .entry .entry__header,
.logs-container .title .filter-bar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logs-container {
  overflow-x: auto;
  text-align: left;
  padding: 0 !important;
  margin: 32px auto;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  background-color: white;

  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
    text-transform: uppercase;
  }

  .title {
    padding: 18px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 40px;
    background-color: #222;
    color: white;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h2 {
        width: 100%;
      }
    }

    h2 {
      font-size: 20px;
      margin: 0;

      @media (min-width: 768px) {
        width: 100%;
      }
    }

    .filter {
      &__bar {
        margin-top: 12px;
        padding-left: 0;
        width: 100%;
        display: flex;
        align-items: center;

        @media (min-width: 768px) {
          display: flex;
          justify-content: flex-end;
          padding-right: 0;
        }

        label {
          font-size: 16px;
          padding-right: 8px;
        }

        select {
          font-size: 16px;
        }
      }

      &__item {
        padding: 0;
        margin: 0 0 4px 0;

        @media (min-width: 768px) {
          padding-right: 12px;
        }
      }
    }
  }

  .entry {
    padding: 24px;
    margin: 48px 24px 32px 24px;

    &:first-of-type {
      margin-top: 0;
    }

    &__header {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $grey-light;
      margin-bottom: 24px;
      justify-content: space-between;

      div {
        padding: 0 !important;
      }

      h3 {
        margin: 8px 0;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        font-weight: 700;
      }

      ul {
        margin-top: 0;
        padding-left: 0;
        list-style: none;
      }

      .roi,
      .text {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .roi {
        span {
          font-weight: 700;
          font-size: 20px;

          &.win {
            color: #57d982;
          }

          &.loss {
            color: #57d982;
          }
        }

        img {
          height: 36px;
          width: 36px;
          padding-right: 8px;
        }
      }
    }

    .text {
      flex-direction: column;
      justify-content: flex-end;

      @media (min-width: 400px) {
        flex-direction: row;
        span {
          padding-right: 8px;
        }
      }
    }

    h4 {
      margin: 24px 0;
      font-size: 16px;
      font-weight: 700;
    }

    .markdown-container {
      font-weight: 100;
    }
  }
}

.logs-container,
.logs-container .notepad-view,
.logs-container .entry .entry__header,
.logs-container .markdown-container {
  padding: 0;
}

/* pagination */

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0 0 0;

  .line-break {
    margin: 24px 0;
    width: 300px;
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 8px 0;
  font-size: 16px;
  text-transform: uppercase;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: black;
  text-decoration: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: darkgrey;
  background-color: #eee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: black;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
