.header {
  padding: 48px 0;
  background: url("./stars.jpg");
  color: white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }

  .title {
    text-align: left;
  }

  .logo-container,
  .menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h1,
  h2 {
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
  }

  h2 {
    font-size: 12px;
  }

  .icon {
    height: 64px;
    width: 64px;
    padding-right: 12px;
  }

  .icon.small {
    height: 32px;
    width: 32px;
    padding: 0 12px;
  }

  .icon.extra-small {
    height: 16px;
    width: 16px;
    padding: 0 8px;
  }

  button.menu-item {
    border: 0;
    background: none;
  }

  .mobile-menu-container {
    display: none;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .menu-container {
      display: none;
    }

    .mobile-menu-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
      h1 {
        font-size: 18px;
      }
    }
  }
}
