.logs-container {
    overflow-x:auto;
}

.logs {
    width: 100%;
}

thead th {
    font-weight: 500;
    text-transform: uppercase;
}

td, th {
    font-weight: 100;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    text-align: left;
    vertical-align: top;
    min-width: 80px;
}

.larger-text {
    min-width: 250px;
}