.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  flex-flow: column;
}

.overlay .header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 20px;
  max-height: 104px;
}

.overlay .header button.close {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.overlay .header .icon {
  height: 32px;
  width: 32px;
  padding: 0 12px;
}

.overlay .content {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  overflow: auto;
  padding-bottom: 48px;
}
