.logs-container,
.logs-container .entry .entry__header,
.logs-container .title .filter-bar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logs-container {
  overflow-x: auto;
  text-align: left;
  padding: 0 !important;
  margin-top: 12px;
  width: 100%;

  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
    text-transform: uppercase;
  }

  .title {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 40px;

    h2 {
      font-size: 20px;
      margin: 0;
    }

    .filter {
      &__bar {
        margin-top: 12px;
        padding-left: 0;
        width: 100%;

        @media (min-width: 768px) {
          display: flex;
        }

        label {
          font-size: 16px;
          padding-right: 8px;
        }

        select {
          font-size: 16px;
        }
      }

      &__item {
        padding: 0;
        margin: 0 0 12px 0;

        @media (min-width: 768px) {
          padding-right: 12px;
        }
      }
    }
  }

  .entry {
    padding: 24px;
    margin: 48px 0 32px 0;
    background: rgba(221, 221, 221, 0.25);

    &:first-of-type {
      margin-top: 0;
    }

    &__header {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid #999;
      margin-bottom: 24px;

      h3 {
        margin: 8px 0;
        font-size: 18px;
      }

      ul {
        margin-top: 0;
      }
    }

    h4 {
      margin: 24px 0;
      font-size: 16px;
      font-weight: 700;
    }

    .markdown-container {
      font-weight: 100;
    }
  }
}

.logs-container,
.logs-container .notepad-view,
.logs-container .entry .entry__header,
.logs-container .markdown-container {
  padding: 0;
}

/* pagination */

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 8px 0;
  font-size: 16px;
  text-transform: uppercase;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: black;
  text-decoration: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: darkgrey;
  background-color: #eee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: black;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
