.logs-container,
.logs-container .entry .entry__header,
.logs-container .title .filter-bar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logs-container {
  overflow-x: auto;
  text-align: left;
  padding: 0 12px !important;
  margin-top: 24px;
  width: 100%;
}

.logs-container .notepad-view,
.logs-container .entry .entry__header {
  padding: 0;
}

.logs-container,
.logs-container .markdown-container {
  padding: 0;
}

.logs-container .markdown-container {
  padding: 0 0 0 16px;
  margin: 0 0 0 16px;
  border-left: 1px solid #ddd;
}

.logs-container .title {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 40px;
}

.logs-container .title .filter-bar {
  margin-top: 12px;
  padding-left: 0;
  width: 100%;
  background-color: #fafafa;
  padding: 12px 24px;
}

.logs-container .title .filter-bar label {
  font-size: 16px;
  padding-right: 8px;
}

.logs-container .title .filter-bar select {
  font-size: 16px;
}

.logs-container .title h2 {
  font-weight: 100;
  font-size: 32px;
  margin: 0;
}

.logs-container .entry__header ul {
  margin-top: 0;
  list-style: none;
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #ddd;
}

.logs-container .markdown-container {
  margin-bottom: 32px;
}

.logs-container h3,
.logs-container h4,
.logs-container h5 {
  font-weight: 500;
  text-transform: capitalize;
}

.logs-container p {
  font-weight: 100;
}

.logs-container .controls {
  text-align: right;
  padding: 0;
}

.logs-container .controls.invisible {
  display: none;
}

.logs-container .entry {
  padding: 0;
  margin: 48px 0 32px 0;
}

.logs-container .entry .entry__header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logs-container .entry .entry__header h3 {
  margin: 8px 0;
  font-size: 24px;
}

.logs-container .entry h4 {
  margin: 8px 0;
  font-size: 20px;
}

.logs-container .entry:first-of-type {
  margin-top: 0;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 8px 0;
  font-size: 16px;
  text-transform: uppercase;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: black;
  text-decoration: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: darkgrey;
  background-color: #eee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: black;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.line-break {
  height: 2px;
  width: 100px;
  background: black;
}
